<h1>{{title }}</h1>
<input placeholder="name" [(ngModel)]="userObj.name">
<input placeholder="address" [(ngModel)]="userObj.address">
<input placeholder="phone" [(ngModel)]="userObj.phone">

<nav>
    <div>
        <a routerLink="/first">First Clicked</a>
    </div>
    <div>
        <a routerLink="/second">Second Clicked</a>

    </div>
    <div>
        <a routerLink="/third">Third Clicked</a>
    </div>
    <div>
        <a routerLink="/forth">Fourth Clicked</a>
    </div>
</nav>
<button (click)="goToRoute()"> Go To Second</button>

<input type="text" [formControl]="testProps" name="testProps" placeholder="GautamSIngh">
{{testProps.value}}
<router-outlet></router-outlet>